In [1]:
#Dependencies
import pandas as pd
import tweepy
from datetime import datetime as dt
from datetime import date
from datetime import timedelta
from pprint import pprint
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
from time import strftime
import math


from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

import matplotlib.dates as mdates
import matplotlib.cbook as cbook
from apikeys import consumer_key, consumer_secret, access_token, access_token_secret




import requests
import json
from apikeys import av_key
import pandas as pd
import os
import csv
import sys

from functools import reduce
from scipy import stats

In [2]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [3]:
# Target User
target_user = "@realDonaldTrump"


# Variable to hold Tweet Texts, created date, number of retweets, number of likes
tweet_texts = []
created_date =[]
retweets=[]
likes=[]


# Create a loop to iteratively run API requests to bypass weekly tweeter API limit
for x in range(1,160):

    # Get all tweets from Trump home feed (for specified number of pages)
    public_tweets = api.user_timeline(target_user, page=x)

    # Loop through all tweets
    for tweet in public_tweets:
        #Converting text to lower case
        txt = tweet['text'].lower()
        tweet_texts.append(txt)
        created_date.append(tweet["created_at"])
        retweets.append(tweet["retweet_count"])
        likes.append(tweet["favorite_count"])
        
#Created new dictionary to hold above variables
trump_tweets = {
                "Tweet" : tweet_texts,
                "Date" : created_date,
                "Retweets" : retweets,
                "Likes" : likes,
                }

#Converted dictionary to dataframe 
trump_tweets = pd.DataFrame(trump_tweets)
trump_tweets.head(5)

trump_tweets.to_csv("Resource_CSVs/Twitter_RawData.csv", index=False, header=True,encoding='utf-8-sig')
# print(len(trump_tweets))

In [4]:
# Write to CSV -- to insure code runs if there is no internet connectivity and API can't be called
trump_tweets=pd.read_csv('Resource_CSVs/Twitter_RawData.csv')
type(trump_tweets)
trump_tweets

,Tweet,Date,Retweets,Likes
0,"today, it was my great honor to welcome prime ...",Mon Jul 02 21:48:02 +0000 2018,7207,36774
1,"rt @dhsgov: today, dhs, @cbp, and @icegov will...",Mon Jul 02 16:29:17 +0000 2018,9238,0
2,congratulations to andres manuel lopez obrador...,Mon Jul 02 03:01:30 +0000 2018,65371,192858
3,rt @larryelder: beware! #trumpderangementsyndr...,Sun Jul 01 23:24:17 +0000 2018,11345,0
4,"a big week, especially with our numerous victo...",Sun Jul 01 19:39:28 +0000 2018,24783,115735
5,"the liberal left, also known as the democrats,...",Sun Jul 01 12:11:05 +0000 2018,29105,125365
6,i will be interviewed by @mariabartiromo at 10...,Sun Jul 01 12:00:03 +0000 2018,7939,46678
7,"when people come into our country illegally, w...",Sat Jun 30 19:44:09 +0000 2018,37392,146913
8,i will be interviewed by @mariabartiromo on su...,Sat Jun 30 19:31:42 +0000 2018,9610,47617
9,either we need to elect more republicans in no...,Sat Jun 30 19:26:12 +0000 2018,22761,90930
10,i never pushed the republicans in the house to...,Sat Jun 30 19:17:42 +0000 2018,14881,65242
11,a friend of mine and a man who has truly seen ...,Sat Jun 30 19:05:48 +0000 2018,14979,74548
12,i will be making my choice for justice of the ...,Sat Jun 30 12:33:55 +0000 2018,21009,103770
13,just spoke to king salman of saudi arabia and ...,Sat Jun 30 11:37:03 +0000 2018,40924,149687
14,"to the great and brave men and women of ice, d...",Sat Jun 30 11:22:41 +0000 2018,37721,145880
15,the democrats are making a strong push to abol...,Sat Jun 30 11:07:30 +0000 2018,26709,108977
16,rt @danscavino: “@govmikehuckabee: trump could...,Sat Jun 30 10:59:46 +0000 2018,11502,0
17,rt @realdonaldtrump: six months after our tax ...,Sat Jun 30 10:59:04 +0000 2018,19358,0
18,rt @realdonaldtrump: before going any further ...,Sat Jun 30 10:57:05 +0000 2018,12100,0
19,rt @ivankatrump: thank you @secpompeo. \nit wa...,Sat Jun 30 10:49:42 +0000 2018,7382,0
20,rt @ivankatrump: thank you senator alexander f...,Sat Jun 30 10:49:20 +0000 2018,4311,0
21,the new plant being built by foxconn in wiscon...,Fri Jun 29 23:30:02 +0000 2018,15362,75768
22,"rt @foxbusiness: .@ivankatrump: ""i think one o...",Fri Jun 29 23:21:33 +0000 2018,7486,0
23,rt @scavino45: “@icegov new york operation lea...,Fri Jun 29 23:20:18 +0000 2018,11578,0
24,"six months after our tax cuts, more than 6 mil...",Fri Jun 29 18:06:13 +0000 2018,19358,84142
25,"before going any further today, i want to addr...",Fri Jun 29 17:59:22 +0000 2018,12100,58335
26,"prior to departing wisconsin, i was briefed on...",Thu Jun 28 20:49:55 +0000 2018,18405,98635
27,america is open for business! \nhttps://t.co/f...,Thu Jun 28 19:09:42 +0000 2018,12694,55648
28,"today, we broke ground on a plant that will pr...",Thu Jun 28 18:57:22 +0000 2018,22047,96231
29,"i am in milwaukee, wisconsin, for meetings. so...",Thu Jun 28 13:06:01 +0000 2018,16550,89896
...,...,...,...,...
3145,rt @vp: our president is choosing to put ameri...,Fri Jun 02 10:31:03 +0000 2017,9140,0
3146,rt @foxandfriends: wall street hits record hig...,Fri Jun 02 10:08:24 +0000 2017,9104,0
3147,make america great again!,Fri Jun 02 01:00:35 +0000 2017,45862,156773
3148,my job as president is to do everything within...,Thu Jun 01 22:50:29 +0000 2017,21372,89229
3149,join me live at the @whitehouse.\n\n➡️https://...,Thu Jun 01 19:03:10 +0000 2017,6777,36828
3150,"the big story is the ""unmasking and surveillan...",Thu Jun 01 11:05:21 +0000 2017,24169,87998
3151,i will be announcing my decision on paris acco...,Thu Jun 01 01:05:17 +0000 2017,16462,75873
3152,crooked hillary clinton now blames everybody b...,Thu Jun 01 00:40:01 +0000 2017,27583,109098
3153,it was an honor to welcome the prime minister ...,Wed May 31 21:52:54 +0000 2017,7071,41647
3154,we traveled the world to strengthen long-stand...,Wed May 31 20:04:45 +0000 2017,12524,57557
3155,i will be announcing my decision on the paris ...,Wed May 31 13:08:41 +0000 2017,13193,69333
3156,"hopefully republican senators, good people all...",Wed May 31 13:05:14 +0000 2017,11703,62858
3157,kathy griffin should be ashamed of herself. my...,Wed May 31 11:14:48 +0000 2017,50112,184786
3158,...case against him &amp; now wants to clear h...,Wed May 31 10:45:27 +0000 2017,12341,56468
3159,"so now it is reported that the democrats, who ...",Wed May 31 10:37:42 +0000 2017,13142,53436
3160,"who can figure out the true meaning of ""covfef...",Wed May 31 10:09:22 +0000 2017,79653,199097
3161,rt @foxandfriends: jared kushner didn't sugges...,Tue May 30 14:01:16 +0000 2017,7165,0
3162,rt @scavino45: president trump pays respects a...,Tue May 30 14:00:50 +0000 2017,5964,0
3163,"the u.s. senate should switch to 51 votes, imm...",Tue May 30 13:59:28 +0000 2017,18759,74031
3164,russian officials must be laughing at the u.s....,Tue May 30 11:04:48 +0000 2017,20515,82006
3165,"we have a massive trade deficit with germany, ...",Tue May 30 10:40:36 +0000 2017,21511,84940
3166,i look forward to paying my respects to our br...,Mon May 29 12:36:37 +0000 2017,14212,88150
3167,today we remember the men and women who made t...,Mon May 29 12:35:34 +0000 2017,34793,145136
3168,north korea has shown great disrespect for the...,Mon May 29 12:18:52 +0000 2017,11852,62374
3169,honoring the men and women who made the ultima...,Mon May 29 12:11:59 +0000 2017,25373,101667
3170,the fake news media works hard at disparaging ...,Mon May 29 00:20:11 +0000 2017,27956,110078
3171,the massive tax cuts/reform that i have submit...,Mon May 29 00:07:01 +0000 2017,14919,71972
3172,i suggest that we add more dollars to healthca...,Sun May 28 23:57:19 +0000 2017,12855,67152
3173,british prime minister may was very angry that...,Sun May 28 14:43:53 +0000 2017,15707,66522
3174,does anyone notice how the montana congression...,Sun May 28 12:45:45 +0000 2017,13937,66926

In [5]:
# Created list of key words
# keywords = ['sad','earnings', 'election', 'futures', 'investor', 'low', 'market', 'nasdaq', 'north korea', 'stock',
# 'market', 'correction', 'trading', 'unemployment','wall street','china','ban',
# 'bull', 'kim', 'price', 'high', 'corporate', 'global warming', 'tariff', 'tax cut', 'jobs', 'economy', 'trade', 'missile', 'nuclear', 'jobs', 'wages',
# 'maga']

In [6]:
keywords=pd.read_csv('Resource_CSVs/keywords.csv')
type(keywords)

pandas.core.frame.DataFrame

In [7]:
#Filtered tweets based on keywords and defined variables to hold
filtered_tweet_texts = []
filtered_created_date =[]
filtered_retweets=[]
filtered_likes=[]
filtered_id=[]
keys=[]
#Variables to hold sentiment analysis
compound_list = []
pos_list = []
neu_list = []
neg_list = []
# i = 0

# Looping through tweets
for tweet in trump_tweets.iterrows():
    for key in keywords['keywords']:
        #Used regular expression to find specific tweets based on keyword
        if re.search(key,tweet[1]['Tweet']):
            #Not all tweets will have keyword, catching tweets that match
            try:
                filtered_tweet_texts.append(tweet[1]["Tweet"])
                filtered_created_date.append(tweet[1]["Date"])
                filtered_retweets.append(tweet[1]["Retweets"])
                filtered_likes.append(tweet[1]["Likes"])
                keys.append(key)
                # Performed sentiment analysis using Vader
                compound = analyzer.polarity_scores(tweet[1]["Tweet"])["compound"]
                pos = analyzer.polarity_scores(tweet[1]["Tweet"])["pos"]
                neu = analyzer.polarity_scores(tweet[1]["Tweet"])["neu"]
                neg = analyzer.polarity_scores(tweet[1]["Tweet"])["neg"]
                compound_list.append(compound)
                pos_list.append(pos)
                neu_list.append(neu)
                neg_list.append(neg)
#                 i += 1   
            except:
                    print('Missing Data')                      
#Create new dictionary for filtered tweets

filtered_trump_tweets = {
                "Tweet" : filtered_tweet_texts,
                "Date" : filtered_created_date,
                "Retweets" : filtered_retweets,
                "Likes" : filtered_likes,
                "Keyword" : keys,
                "Positive" : pos_list,
                "Negative" : neg_list,
                "Neutral" : neu_list,
                "Compound" : compound_list,
                }               

#Convert dictionary to dataframe
filtered_trump_tweets = pd.DataFrame(filtered_trump_tweets)

#Convert date YYYY/MM/DD format
filtered_trump_tweets["Date"] = pd.to_datetime(filtered_trump_tweets["Date"])
filtered_trump_tweets["Date"] = filtered_trump_tweets["Date"].dt.strftime("%Y-%m-%d")

# filtered_trump_tweets
# Write to CSV
outfile = os.path.join("Resource_CSVs","Filtered_tweets.csv")
filtered_trump_tweets.to_csv(outfile, encoding = "utf-8", index=False, header = True)

In [8]:
# Grouping by Tweets and concatenating keywords
grouped_keywords = filtered_trump_tweets.groupby(['Tweet'])['Keyword'].apply(list).reset_index()


#merged grouped data frame with filtered data frame
merged_table = pd.merge(grouped_keywords, filtered_trump_tweets, on="Tweet")
# merged_table=merged_table.drop_duplicates(['Tweet'], keep=False, inplace=False)

#Dropped unwanted column
merged_table = merged_table.drop(['Keyword_y'], axis=1)

#Dropped duplicate tweets
merged_table=merged_table.drop_duplicates(['Tweet'], keep='first', inplace=False).reset_index()

#Display
merged_table

,index,Tweet,Keyword_x,Date,Retweets,Likes,Positive,Negative,Neutral,Compound
0,0,"""after 14 years, u.s. beef hits chinese market...","[market, market, trade]",2017-07-12,16728,66383,0.300,0.000,0.700,0.7184
1,3,"""america's labor market continues to boom"" job...","[market, market, jobs, jobs, labor]",2017-07-25,11786,48982,0.000,0.000,1.000,0.0000
2,8,"""corporations have never made as much money as...","[jobs, jobs]",2017-08-01,16023,75961,0.117,0.000,0.883,0.4199
3,10,"""dow passes 23,000 for the first time, fueled ...",[earnings],2017-10-17,10852,44334,0.216,0.000,0.784,0.5106
4,11,"""iran hides behind its assertion of technical ...",[nuclear],2017-10-18,11226,40706,0.000,0.227,0.773,-0.6124
5,12,"""the real big story that affects everybody in ...",[tax],2018-06-21,11616,47246,0.143,0.081,0.775,0.3818
6,13,....and has been horrible on virginia economy....,[economy],2017-11-07,6740,33605,0.000,0.296,0.704,-0.5848
7,14,....and it will get even better with tax cuts!...,[tax],2017-11-23,9738,49744,0.238,0.164,0.597,0.2481
8,15,....and japan will put up with this much longe...,[china],2017-07-04,28174,109547,0.000,0.120,0.880,-0.5294
9,16,....because he doesn't even live there! he wan...,[tax],2017-06-19,10097,41229,0.000,0.238,0.762,-0.7177
10,17,....for the middle class. the house and senate...,[tax],2017-11-01,11089,54095,0.114,0.081,0.806,0.2263
11,18,....is making. working very hard on tax cuts f...,"[tax, jobs, jobs]",2017-11-07,6691,41531,0.000,0.244,0.756,-0.4914
12,21,....this now allows for the passage of large s...,[tax],2017-10-20,14440,72705,0.000,0.098,0.902,-0.3595
13,22,....we are finishing our study of tariffs on c...,[tariff],2018-06-26,12661,58963,0.083,0.000,0.917,0.2500
14,23,....we are getting other countries to reduce a...,"[tariff, trade]",2018-06-26,14631,66287,0.000,0.000,1.000,0.0000
15,25,....when i had harley-davidson officials over ...,[tariff],2018-06-26,12584,58389,0.000,0.000,1.000,0.0000
16,26,"...2nd amendment, strong military, isis, histo...","[market, stock, market, unemployment]",2017-10-22,16422,76146,0.424,0.171,0.405,0.8439
17,30,...and voted against the massive tax cut bill....,[tax],2018-05-16,9518,44611,0.127,0.349,0.525,-0.7351
18,31,...and west virginia. the fact is the fake new...,"[market, stock, market, jobs, jobs]",2017-08-07,11263,56921,0.218,0.121,0.661,0.3612
19,36,"...based on that, the military has hit isis ""m...",[price],2017-11-03,14361,68132,0.000,0.172,0.828,-0.5848
20,37,...but complain and obstruct. they made only b...,"[stock, trade]",2018-05-25,14455,65559,0.112,0.221,0.667,-0.4753
21,39,...congress must immediately pass border legis...,[nuclear],2018-04-02,23088,88638,0.000,0.115,0.885,-0.2960
22,40,...got along great with kim jong-un who wants ...,[kim],2018-06-12,18273,83295,0.291,0.000,0.709,0.8316
23,41,...haven’t even started yet! the u.s. has very...,[china],2018-05-16,9509,47626,0.000,0.000,1.000,0.0000
24,42,...if congress gives us the massive tax cuts (...,[tax],2017-10-11,10608,52871,0.000,0.095,0.905,-0.2960
25,43,"...lavar, you could have spent the next 5 to 1...",[china],2017-11-22,36531,155059,0.000,0.118,0.882,-0.4215
26,44,"...massive regulation cuts, 36 new legislative...",[tax],2017-06-18,17002,84492,0.165,0.189,0.645,0.2481
27,45,"...owed to wall street and the banks which, sa...",[ban],2017-09-26,7816,38892,0.141,0.101,0.758,0.0258
28,46,...people are now starting to recognize the am...,[build],2017-10-01,15097,77528,0.273,0.000,0.727,0.8360
29,47,...realize the economy is the best it’s ever b...,[economy],2018-06-13,13637,74712,0.167,0.000,0.833,0.6369
...,...,...,...,...,...,...,...,...,...,...
544,830,while i greatly appreciate the efforts of pres...,[china],2017-06-20,17134,78373,0.206,0.000,0.794,0.7171
545,831,why are democrats fighting massive tax cuts fo...,"[tax, jobs, jobs]",2017-11-16,22455,97665,0.000,0.313,0.687,-0.7424
546,834,"why is it that the wall street journal, though...",[tariff],2018-06-02,19102,80273,0.100,0.000,0.900,0.2732
547,835,why is the nfl getting massive tax breaks whil...,[tax],2017-10-10,30883,133365,0.000,0.000,1.000,0.0000
548,836,why isn’t the european union and canada inform...,"[tariff, trade]",2018-06-08,27076,98475,0.000,0.000,1.000,0.0000
549,838,"why should i, as president of the united state...",[trade],2018-06-11,33561,142684,0.198,0.000,0.802,0.5719
550,839,why would kim jong-un insult me by calling me ...,[kim],2017-11-12,260164,603820,0.080,0.125,0.795,-0.2960
551,840,will be going to north dakota today to discuss...,[tax],2017-09-06,16596,86173,0.000,0.081,0.919,-0.2960
552,841,will be having meetings and working the phones...,"[market, stock, market]",2017-11-22,14862,75475,0.000,0.000,1.000,0.0000
553,844,will be leaving for missouri soon for a speech...,[tax],2017-08-30,13359,79936,0.000,0.302,0.698,-0.7567
554,845,will be signing the biggest ever tax cut and r...,[tax],2017-12-22,18346,100375,0.000,0.087,0.913,-0.2732
555,846,"will soon be heading to davos, switzerland, to...",[economy],2018-01-25,27207,149034,0.157,0.000,0.843,0.6249
556,847,with 3.5 million americans receiving bonuses o...,[tax],2018-02-02,26476,105462,0.244,0.087,0.669,0.6124
557,848,"with irma and harvey devastation, tax cuts and...",[tax],2017-09-13,18970,90190,0.000,0.237,0.763,-0.6476
558,849,"with the great vote on cutting taxes, this cou...","[market, stock, market, tax]",2017-12-04,15817,87962,0.201,0.069,0.731,0.5983
559,853,working hard on the biggest tax cut in u.s. hi...,"[tax, jobs, jobs]",2017-10-25,18009,92443,0.288,0.102,0.610,0.8126
560,856,working on major trade deal with the united ki...,"[jobs, trade, jobs]",2017-07-25,15497,66879,0.221,0.071,0.709,0.6856
561,859,would very much appreciate saudi arabia doing ...,[stock],2017-11-04,17623,68398,0.293,0.000,0.707,0.7827
562,860,wouldn't it be great to repeal the very unfair...,[tax],2017-11-01,16608,79816,0.000,0.242,0.758,-0.7709
563,861,yesterday was a big day for the stock market. ...,"[market, stock, market, jobs, jobs]",2018-01-13,23389,114403,0.000,0.000,1.000,0.0000
564,866,"“$3 billion payoff: 101 utilities cut rates, c...",[tax],2018-06-07,10791,42200,0.177,0.143,0.680,0.1280
565,867,“american consumers are the most confident the...,"[market, market]",2018-02-27,13112,56863,0.472,0.000,0.528,0.9099
566,869,“bet founder: trump's economy is bringing blac...,"[economy, labor]",2018-04-06,29255,96140,0.000,0.000,1.000,0.0000
567,871,“disability applications plunge as economy str...,[economy],2018-06-23,13613,64261,0.000,0.268,0.732,-0.5106
568,872,“home prices reach new all-time highs in augus...,[price],2017-10-31,6155,28444,0.091,0.000,0.909,0.0258
569,873,“president trump is not getting the credit he ...,"[tax, economy]",2018-01-14,24074,109072,0.139,0.166,0.695,0.0813
570,875,“some 40 u.s. companies have responded to pres...,[tax],2018-01-04,16052,66517,0.000,0.095,0.905,-0.2732
571,876,“the unemployment rate remains at a 17-year lo...,[unemployment],2017-12-08,17070,63464,0.000,0.331,0.669,-0.7845
572,877,“trump rally: stocks put 2017 in the record bo...,[stock],2017-12-31,13348,63760,0.000,0.000,1.000,0.0000
573,878,“we ran out of words to describe how good the ...,"[jobs, jobs]",2018-06-02,16382,74612,0.146,0.000,0.854,0.4404

In [9]:
# Grouped by date 
grouped_date = merged_table.groupby(['Date']).agg({"Likes": "sum","Retweets": "sum","Compound":"mean",
                                                      "Negative":"mean","Neutral":"mean","Positive":"mean"}).apply(list).reset_index()
grouped_date

           Date   Likes  Retweets  Compound  Negative   Neutral  Positive
0    2017-05-29  134346     26771  0.470500  0.084500  0.738000  0.177500
1    2017-05-30  158971     40270 -0.455050  0.237000  0.676500  0.086500
2    2017-06-02       0      9140  0.273200  0.000000  0.896000  0.104000
3    2017-06-03  169545     50192  0.338200  0.139000  0.656000  0.205000
4    2017-06-05  215976     49100  0.070000  0.138000  0.689667  0.172000
5    2017-06-06  183956     42010 -0.646000  0.276000  0.689500  0.034500
6    2017-06-09   87610     20591  0.858800  0.000000  0.656000  0.344000
7    2017-06-10  165871     39251  0.000000  0.000000  1.000000  0.000000
8    2017-06-11  284100     69724 -0.031267  0.111333  0.782667  0.106333
9    2017-06-12   84572     18009 -0.151100  0.157000  0.705000  0.138000
10   2017-06-13  191833     40279  0.040267  0.072667  0.819667  0.107667
11   2017-06-15  145563     51008 -0.421500  0.130000  0.813000  0.057000
12   2017-06-16  106893     23341  0.855600  0.000000  0.691000  0.309000
13   2017-06-17   99752     19844  0.884700  0.000000  0.600000  0.400000
14   2017-06-18  181250     37067  0.490700  0.136000  0.637500  0.226500
15   2017-06-19  172095     44005 -0.229300  0.189667  0.685333  0.125333
16   2017-06-20  300011     74739 -0.027900  0.157000  0.700750  0.142000
17   2017-06-21  111236     26668  0.708800  0.000000  0.743000  0.257000
18   2017-06-22  134822     41260  0.000000  0.000000  1.000000  0.000000
19   2017-06-23   51846      9629  0.817600  0.000000  0.667000  0.333000
20   2017-06-28   51334     12429 -0.400300  0.147000  0.779000  0.074000
21   2017-06-29  126290     29071  0.636550  0.000000  0.777500  0.222500
22   2017-06-30   87535     18499  0.540000  0.000000  0.852000  0.148000
23   2017-07-02  128784     29866 -0.789100  0.275000  0.725000  0.000000
24   2017-07-03  215152     48229  0.587550  0.160000  0.625000  0.215000
25   2017-07-04  404025    122651  0.046300  0.094750  0.795500  0.109750
26   2017-07-05  218774     48065 -0.275550  0.102000  0.853000  0.045000
27   2017-07-08   93366     17110  0.571900  0.000000  0.861000  0.139000
28   2017-07-09  155885     34493  0.227800  0.110000  0.731000  0.159000
29   2017-07-11       0     10349 -0.226300  0.155000  0.687000  0.159000
..          ...     ...       ...       ...       ...       ...       ...
237  2018-05-21  373224     80311  0.375700  0.000000  0.888400  0.111600
238  2018-05-23  145406     30462  0.299700  0.048500  0.832000  0.119500
239  2018-05-24  119306     29616 -0.059300  0.250500  0.615500  0.134000
240  2018-05-25  183600     46370 -0.199050  0.163500  0.721500  0.115000
241  2018-05-27  119200     29226  0.421500  0.000000  0.882000  0.118000
242  2018-05-28  196285     51392  0.080250  0.156500  0.651500  0.192000
243  2018-05-29  121240     28901 -0.401900  0.193000  0.723000  0.084000
244  2018-05-30  159018     41870  0.051600  0.272000  0.500000  0.228000
245  2018-05-31   98043     31566  0.370700  0.000000  0.590000  0.410000
246  2018-06-02  445896    136095  0.284800  0.036571  0.811286  0.152143
247  2018-06-04  383413     84485 -0.094700  0.144200  0.759000  0.096800
248  2018-06-05   60040     14352 -0.359500  0.135000  0.783000  0.082000
249  2018-06-07  318169     75583  0.137940  0.080400  0.791600  0.128000
250  2018-06-08  469729    116425 -0.383480  0.140200  0.836800  0.023000
251  2018-06-09  313843     74361  0.121067  0.054333  0.862000  0.083333
252  2018-06-11  541473    125850  0.026275  0.096000  0.784000  0.120000
253  2018-06-12  331689     78036  0.407075  0.067500  0.676000  0.256500
254  2018-06-13  536446    113102 -0.073220  0.137600  0.758200  0.104200
255  2018-06-15   99175     21603  0.836000  0.000000  0.717000  0.283000
256  2018-06-17  162748     34448  0.782650  0.000000  0.696000  0.304000
257  2018-06-20       0     16431  0.743000  0.045000  0.740000  0.215000
258  2018-06-21  157815     35154  0.640600  0.027000  0.736333  0.236333
259  2018-06-22   63819     13235  0.669600  0.000000  0.621000  0.379000
260  2018-06-23  232304     48897  0.261600  0.089333  0.777000  0.133667
261  2018-06-24  114447     28303  0.421500  0.000000  0.872000  0.128000
262  2018-06-25   62755     28589  0.887250  0.060500  0.537500  0.402000
263  2018-06-26  357123     78051  0.218475  0.058750  0.794750  0.146500
264  2018-06-28  186127     38597 -0.263450  0.098000  0.902000  0.000000
265  2018-06-29   84142     26844  0.515450  0.077500  0.717500  0.205000
266  2018-06-30       0     19358  0.250000  0.143000  0.714000  0.143000

[267 rows x 7 columns]

In [10]:
grouped_date.describe()

,Likes,Retweets,Compound,Negative,Neutral,Positive
count,267.000000,267.000000,267.000000,267.000000,267.000000,267.000000
mean,167883.385768,41660.434457,0.162942,0.081713,0.780911,0.137384
std,114715.936698,30431.581410,0.390864,0.080805,0.115336,0.097669
min,0.000000,7816.000000,-0.838800,0.000000,0.405000,0.000000
25%,91356.000000,20004.000000,-0.098700,0.000000,0.695500,0.073500
50%,141794.000000,34493.000000,0.135433,0.072667,0.781500,0.125333
75%,216554.500000,51684.000000,0.485400,0.131125,0.859500,0.193083
max,603820.000000,260164.000000,0.887250,0.359000,1.000000,0.424000

In [11]:
#keeping only extremes of sentiments
# was playing around with the index we will need to figure this out

extreme_dates1 = grouped_date[(grouped_date['Negative'] >0.1)].reset_index()
# extreme_dates.drop(columns=[1])
print(extreme_dates1.head())
# extremes1 = (grouped_date['Compound'] >= 0.5) ~ (grouped_date['Compound'] <= 0.5)
#print(len(extreme_dates1))

   index        Date   Likes  Retweets  Compound  Negative   Neutral  Positive
0      1  2017-05-30  158971     40270 -0.455050  0.237000  0.676500  0.086500
1      3  2017-06-03  169545     50192  0.338200  0.139000  0.656000  0.205000
2      4  2017-06-05  215976     49100  0.070000  0.138000  0.689667  0.172000
3      5  2017-06-06  183956     42010 -0.646000  0.276000  0.689500  0.034500
4      8  2017-06-11  284100     69724 -0.031267  0.111333  0.782667  0.106333

In [12]:
base_url = 'https://www.alphavantage.co/query?function='

symbol1 = '^GSPC' 
time_series_url = base_url +'TIME_SERIES_DAILY&symbol='+symbol1+'&outputsize=full&apikey='+ av_key
daily_response_SP500 = requests.get(time_series_url)
response_json_SP500 = daily_response_SP500.json()   

opening_SP500 = []
closing_SP500 = []
date_SP500 = []

for key in response_json_SP500["Time Series (Daily)"]:
    
    opening_SP500.append(response_json_SP500["Time Series (Daily)"][key]["1. open"])
    closing_SP500.append(response_json_SP500["Time Series (Daily)"][key]["4. close"])
    date_SP500.append(key)

SP500_df = pd.DataFrame({
    'Date': date_SP500,
    'S&P500 Open': opening_SP500,
    'S&P500 Close': closing_SP500
})


SP500_df = SP500_df[["Date", "S&P500 Open","S&P500 Close"]]
SP500_df = SP500_df.sort_values('Date', ascending = True)  

print (SP500_df.head())

# ^DJI is Dow Jones 30
symbol2 = '^DJI'
time_series_url = base_url +'TIME_SERIES_DAILY&symbol='+symbol2+'&outputsize=full&apikey='+ av_key
daily_response_DJ = requests.get(time_series_url)
response_json_DJ = daily_response_DJ.json()   

opening_DJ = []
closing_DJ = []
date_DJ = []

for key in response_json_DJ["Time Series (Daily)"]:
    
    opening_DJ.append(response_json_DJ["Time Series (Daily)"][key]["1. open"])
    closing_DJ.append(response_json_DJ["Time Series (Daily)"][key]["4. close"])
    date_DJ.append(key)

DJ_df = pd.DataFrame({
    'Date': date_DJ,
    'DJ Open': opening_DJ,
    'DJ Close': closing_DJ
})


DJ_df = DJ_df[["Date", "DJ Open","DJ Close"]]
DJ_df = DJ_df.sort_values('Date', ascending = True)  

print (DJ_df.head())


# ^IXIC is NASDAQ
symbol3 = '^IXIC'
time_series_url = base_url +'TIME_SERIES_DAILY&symbol='+symbol3+'&outputsize=full&apikey='+ av_key
daily_response_NAS = requests.get(time_series_url)
response_json_NAS = daily_response_NAS.json()   

opening_NAS = []
closing_NAS = []
date_NAS = []

for key in response_json_NAS["Time Series (Daily)"]:
    
    opening_NAS.append(response_json_NAS["Time Series (Daily)"][key]["1. open"])
    closing_NAS.append(response_json_NAS["Time Series (Daily)"][key]["4. close"])
    date_NAS.append(key)

NASDAQ_df = pd.DataFrame({
    'Date': date_NAS,
    'NAS Open': opening_NAS,
    'NAS Close': closing_NAS
})


NASDAQ_df = NASDAQ_df[["Date", "NAS Open","NAS Close"]]
NASDAQ_df = NASDAQ_df.sort_values('Date', ascending = True)  

print (NASDAQ_df.head())

            Date S&P500 Open S&P500 Close
4653  2000-01-03   1469.2500    1455.2200
4652  2000-01-04   1455.2200    1399.4200
4651  2000-01-05   1399.4200    1402.1100
4650  2000-01-06   1402.1100    1403.4500
4649  2000-01-07   1403.4500    1441.4700
            Date     DJ Open    DJ Close
4653  2000-01-03  11501.8496  11357.5098
4652  2000-01-04  11349.7500  10997.9297
4651  2000-01-05  10989.3701  11122.6504
4650  2000-01-06  11113.3701  11253.2598
4649  2000-01-07  11247.0596  11522.5596
            Date   NAS Open  NAS Close
4653  2000-01-03  4186.1899  4131.1499
4652  2000-01-04  4020.0000  3901.6899
4651  2000-01-05  3854.3501  3877.5400
4650  2000-01-06  3834.4399  3727.1299
4649  2000-01-07  3711.0901  3882.6201

In [13]:
# Calculating Sector performance for different sector indices
# 1. Banking
bank_data = os.path.join('raw_data', 'Banking.csv')
bank_df=pd.read_csv(bank_data)
bank_df =  bank_df[["Date", "Open", "Close"]]
bank_df = bank_df.rename(index=str, columns={"Open" : "Bank_Open","Close" : "Bank_Close"})
print (bank_df.head())

# 2. Biotech
biotech_data = os.path.join('raw_data', 'Biotech.csv')
biotech_df=pd.read_csv(biotech_data)
biotech_df =  biotech_df[["Date", "Open", "Close"]]
biotech_df = biotech_df.rename(index=str, columns={"Open" : "Biotech_Open","Close" : "Biotech_Close"})
print(biotech_df.head())


# 3. Healthcare
healthcare_data = os.path.join('raw_data', 'Healthcare.csv')
health_df=pd.read_csv(healthcare_data)
health_df =  health_df[["Date", "Open", "Close"]]
health_df = health_df.rename(index=str, columns={"Open" : "Healthcare_Open","Close" : "Healthcare_Close"})
print(health_df.head())

# 4. Housing
housing_data = os.path.join('raw_data', 'Housing.csv')
housing_df=pd.read_csv(housing_data)
housing_df =  housing_df[["Date", "Open", "Close"]]
housing_df = housing_df.rename(index=str, columns={"Open" : "Housing_Open","Close" : "Housing_Close"})
print(housing_df.head())

# 5. Industrials
industrial_data = os.path.join('raw_data', 'Industrials.csv')
industrial_df=pd.read_csv(industrial_data)
industrial_df =  industrial_df[["Date", "Open", "Close"]]
industrial_df = industrial_df.rename(index=str, columns={"Open" : "Industrial_Open","Close" : "Industrial_Close"})
print(industrial_df.head())

# 6. Insurance
insurance_data = os.path.join('raw_data', 'Insurance.csv')
insurance_df=pd.read_csv(insurance_data)
insurance_df =  insurance_df[["Date", "Open", "Close"]]
insurance_df = insurance_df.rename(index=str, columns={"Open" : "Insurance_Open","Close" : "Insurance_Close"})
print(insurance_df.head())

# 7. Oil & Gas
oil_data = os.path.join('raw_data', 'Oil&Gas.csv')
oil_df=pd.read_csv(oil_data)
oil_df =  oil_df[["Date", "Open", "Close"]]
oil_df = oil_df.rename(index=str, columns={"Open" : "Oil-Gas_Open","Close" : "Oil-Gas_Close"})
print(oil_df.head())

# 8. Semiconductor
semi_data = os.path.join('raw_data', 'Semiconductor.csv')
semi_df=pd.read_csv(semi_data)
semi_df =  semi_df[["Date", "Open", "Close"]]
semi_df = semi_df.rename(index=str, columns={"Open" : "Semiconductor_Open","Close" : "Semiconductor_Close"})
print(semi_df.head())

# 9. Telecom
telecom_data = os.path.join('raw_data', 'Telecom.csv')
telecom_df=pd.read_csv(telecom_data)
telecom_df =  telecom_df[["Date", "Open", "Close"]]
telecom_df = telecom_df.rename(index=str, columns={"Open" : "Telecom_Open","Close" : "Telecom_Close"})
print(telecom_df.head())


#10. Utility
utility_data = os.path.join('raw_data', 'Utility.csv')
utility_df=pd.read_csv(utility_data)
utility_df =  utility_df[["Date", "Open", "Close"]]
utility_df = utility_df.rename(index=str, columns={"Open" : "Utility_Open","Close" : "Utility_Close"})
print(utility_df.head())

         Date    Bank_Open   Bank_Close
0  2013-07-01  2221.090088  2249.080078
1  2013-07-02  2248.560059  2265.409912
2  2013-07-03  2256.489990  2272.570068
3  2013-07-05  2294.760010  2327.399902
4  2013-07-08  2335.919922  2328.719971
         Date  Biotech_Open  Biotech_Close
0  2013-07-01   1860.430054    1863.699951
1  2013-07-02   1862.780029    1865.569946
2  2013-07-03   1854.880005    1866.469971
3  2013-07-05   1882.619995    1900.589966
4  2013-07-08   1909.739990    1893.660034
         Date  Healthcare_Open  Healthcare_Close
0  2013-07-01       441.269989        440.750000
1  2013-07-02       440.420013        440.970001
2  2013-07-03       438.299988        440.700012
3  2013-07-05       444.700012        448.170013
4  2013-07-08       450.279999        447.660004
         Date  Housing_Open  Housing_Close
0  2013-07-01    179.690002     179.070007
1  2013-07-02    178.970001     177.070007
2  2013-07-03    176.580002     178.240005
3  2013-07-05    179.000000     174.199997
4  2013-07-08    176.039993     172.770004
         Date  Industrial_Open  Industrial_Close
0  2013-07-01      3085.030029       3100.330078
1  2013-07-02      3096.830078       3096.939941
2  2013-07-03      3082.330078       3104.429932
3  2013-07-05      3133.540039       3138.370117
4  2013-07-08      3154.320068       3161.520020
         Date  Insurance_Open  Insurance_Close
0  2013-07-01     5741.180176      5820.490234
1  2013-07-02     5815.439941      5790.430176
2  2013-07-03     5769.629883      5793.290039
3  2013-07-05     5856.350098      5882.740234
4  2013-07-08     5902.399902      5926.910156
         Date  Oil-Gas_Open  Oil-Gas_Close
0  2013-07-01    253.520004     255.880005
1  2013-07-02    255.690002     256.989990
2  2013-07-03    256.570007     256.329987
3  2013-07-05    257.260010     260.970001
4  2013-07-08    262.029999     263.350006
         Date  Semiconductor_Open  Semiconductor_Close
0  2013-07-01          470.019989           467.730011
1  2013-07-02          466.880005           468.179993
2  2013-07-03          465.750000           469.799988
3  2013-07-05          472.279999           476.119995
4  2013-07-08          477.470001           466.500000
         Date  Telecom_Open  Telecom_Close
0  2013-07-01    230.220001     229.970001
1  2013-07-02    229.330002     229.220001
2  2013-07-03    228.550003     230.889999
3  2013-07-05    231.660004     231.649994
4  2013-07-08    232.610001     231.919998
         Date  Utility_Open  Utility_Close
0  2013-07-01    493.859985     485.890015
1  2013-07-02    485.299988     485.839996
2  2013-07-03    484.299988     485.359985
3  2013-07-05    485.880005     482.869995
4  2013-07-08    484.369995     489.160004

In [14]:
# Merge Index Data Frames
data_frames = [SP500_df, DJ_df, NASDAQ_df, 
               bank_df, biotech_df, health_df,housing_df, industrial_df, 
               insurance_df, oil_df, semi_df, telecom_df, utility_df]

# To keep the values that belong to the same date you need to merge it on the DATE

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), data_frames)

main_df=df_merged.dropna(axis=0)
main_df.head()

,Date,S&P500 Open,S&P500 Close,DJ Open,DJ Close,NAS Open,NAS Close,Bank_Open,Bank_Close,Biotech_Open,...,Insurance_Open,Insurance_Close,Oil-Gas_Open,Oil-Gas_Close,Semiconductor_Open,Semiconductor_Close,Telecom_Open,Telecom_Close,Utility_Open,Utility_Close
3393,2013-07-01,1609.7800,1614.9600,14911.5996,14974.9600,3430.4800,3434.4900,2221.090088,2249.080078,1860.430054,...,5741.180176,5820.490234,253.520004,255.880005,470.019989,467.730011,230.220001,229.970001,493.859985,485.890015
3394,2013-07-02,1614.2900,1614.0800,14974.9600,14932.4102,3430.6899,3433.3999,2248.560059,2265.409912,1862.780029,...,5815.439941,5790.430176,255.690002,256.989990,466.880005,468.179993,229.330002,229.220001,485.299988,485.839996
3395,2013-07-03,1611.4800,1615.4100,14923.7305,14988.3701,3420.2700,3443.6699,2256.489990,2272.570068,1854.880005,...,5769.629883,5793.290039,256.570007,256.329987,465.750000,469.799988,228.550003,230.889999,484.299988,485.359985
3396,2013-07-05,1618.6500,1631.8900,14995.4600,15135.8398,3468.4800,3479.3799,2294.760010,2327.399902,1882.619995,...,5856.350098,5882.740234,257.260010,260.970001,472.279999,476.119995,231.660004,231.649994,485.880005,482.869995
3397,2013-07-08,1634.2000,1640.4600,15137.2197,15224.6904,3493.8101,3484.8301,2335.919922,2328.719971,1909.739990,...,5902.399902,5926.910156,262.029999,263.350006,477.470001,466.500000,232.610001,231.919998,484.369995,489.160004

In [15]:
# Clean this up
# Merge Index Data Frames
# fin_table1 = pd.merge(SP500_df, DJ_df, on= "Date", how = "left")
# main_df = pd.merge(fin_table1, NASDAQ_df, on= "Date", how = "left")
# main_df.head()

In [16]:
# Write to CSV -- to insure code runs if there is no internet connectivity and API can't be called
outfile = os.path.join("Resource_CSVs","Index_Sector_Raw_data.csv")
main_df.to_csv(outfile, encoding = "utf-8", index=False, header = True)

main_df=pd.read_csv('Resource_CSVs/Index_Sector_Raw_data.csv')
main_df.head()

,Date,S&P500 Open,S&P500 Close,DJ Open,DJ Close,NAS Open,NAS Close,Bank_Open,Bank_Close,Biotech_Open,...,Insurance_Open,Insurance_Close,Oil-Gas_Open,Oil-Gas_Close,Semiconductor_Open,Semiconductor_Close,Telecom_Open,Telecom_Close,Utility_Open,Utility_Close
0,2013-07-01,1609.78,1614.96,14911.5996,14974.9600,3430.4800,3434.4900,2221.090088,2249.080078,1860.430054,...,5741.180176,5820.490234,253.520004,255.880005,470.019989,467.730011,230.220001,229.970001,493.859985,485.890015
1,2013-07-02,1614.29,1614.08,14974.9600,14932.4102,3430.6899,3433.3999,2248.560059,2265.409912,1862.780029,...,5815.439941,5790.430176,255.690002,256.989990,466.880005,468.179993,229.330002,229.220001,485.299988,485.839996
2,2013-07-03,1611.48,1615.41,14923.7305,14988.3701,3420.2700,3443.6699,2256.489990,2272.570068,1854.880005,...,5769.629883,5793.290039,256.570007,256.329987,465.750000,469.799988,228.550003,230.889999,484.299988,485.359985
3,2013-07-05,1618.65,1631.89,14995.4600,15135.8398,3468.4800,3479.3799,2294.760010,2327.399902,1882.619995,...,5856.350098,5882.740234,257.260010,260.970001,472.279999,476.119995,231.660004,231.649994,485.880005,482.869995
4,2013-07-08,1634.20,1640.46,15137.2197,15224.6904,3493.8101,3484.8301,2335.919922,2328.719971,1909.739990,...,5902.399902,5926.910156,262.029999,263.350006,477.470001,466.500000,232.610001,231.919998,484.369995,489.160004

In [17]:
# Calculate Returns On Indices
# Calculate Returns for S&P500

SP500_same_day =[]
SP500_one_day = []
SP500_two_day =[]

for row in range(len(main_df)):
   same_day_open= float(main_df["S&P500 Open"][row])
   same_day_close= float(main_df["S&P500 Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   SP500_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["S&P500 Close"][row])
       next_day_close = float(main_df["S&P500 Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       SP500_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       SP500_one_day.append(one_day_change)

   if row + 2 < len(main_df):
       prev_day_close= float(main_df["S&P500 Close"][row])
       
       two_day_close = float(main_df["S&P500 Close"][(row + 2)])
       two_day_change = round(((two_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       SP500_two_day.append(two_day_change)
       
   else:
       two_day_change = 0
       SP500_two_day.append(two_day_change)


# Calculate Returns for Dow Jones

DJ_same_day =[]
DJ_one_day = []
DJ_two_day =[]

for row in range(len(main_df)):
   same_day_open= float(main_df["DJ Open"][row])
   same_day_close= float(main_df["DJ Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   DJ_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["DJ Close"][row])
       next_day_close = float(main_df["DJ Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       DJ_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       DJ_one_day.append(one_day_change)

   if row + 2 < len(main_df):
       prev_day_close= float(main_df["DJ Close"][row])
       
       two_day_close = float(main_df["DJ Close"][(row + 2)])
       two_day_change = round(((two_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       DJ_two_day.append(two_day_change)
       
   else:
       two_day_change = 0
       DJ_two_day.append(two_day_change)
   

# Calculate Returns for Nasdaq

NASDAQ_same_day =[]
NASDAQ_one_day = []
NASDAQ_two_day =[]

for row in range(len(main_df)):
   same_day_open= float(main_df["NAS Open"][row])
   same_day_close= float(main_df["NAS Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   NASDAQ_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["NAS Close"][row])
       next_day_close = float(main_df["NAS Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       NASDAQ_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       NASDAQ_one_day.append(one_day_change)

   if row + 2 < len(main_df):
       prev_day_close= float(main_df["NAS Close"][row])
       
       two_day_close = float(main_df["NAS Close"][(row + 2)])
       two_day_change = round(((two_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       NASDAQ_two_day.append(two_day_change)
       
   else:
       two_day_change = 0
       NASDAQ_two_day.append(two_day_change)

In [18]:
# Writting sector performance data to main data frame

main_df["S&P500 Same-Day Change"] = SP500_same_day
main_df["S&P500 1-Day Change"] = SP500_one_day
main_df["S&P500 2-Day Change"] = SP500_two_day

main_df["DJ Same-Day Change"] = DJ_same_day
main_df["DJ 1-Day Change"] = DJ_one_day
main_df["DJ 2-Day Change"] = DJ_two_day


main_df["NAS Same-Day Change"] = NASDAQ_same_day
main_df["NAS 1-Day Change"] = NASDAQ_one_day
main_df["NAS 2-Day Change"] = NASDAQ_two_day

main_df.head()

,Date,S&P500 Open,S&P500 Close,DJ Open,DJ Close,NAS Open,NAS Close,Bank_Open,Bank_Close,Biotech_Open,...,Utility_Close,S&P500 Same-Day Change,S&P500 1-Day Change,S&P500 2-Day Change,DJ Same-Day Change,DJ 1-Day Change,DJ 2-Day Change,NAS Same-Day Change,NAS 1-Day Change,NAS 2-Day Change
0,2013-07-01,1609.78,1614.96,14911.5996,14974.9600,3430.4800,3434.4900,2221.090088,2249.080078,1860.430054,...,485.890015,0.32,-0.05,0.03,0.42,-0.28,0.09,0.12,-0.03,0.27
1,2013-07-02,1614.29,1614.08,14974.9600,14932.4102,3430.6899,3433.3999,2248.560059,2265.409912,1862.780029,...,485.839996,-0.01,0.08,1.10,-0.28,0.37,1.36,0.08,0.30,1.34
2,2013-07-03,1611.48,1615.41,14923.7305,14988.3701,3420.2700,3443.6699,2256.489990,2272.570068,1854.880005,...,485.359985,0.24,1.02,1.55,0.43,0.98,1.58,0.68,1.04,1.20
3,2013-07-05,1618.65,1631.89,14995.4600,15135.8398,3468.4800,3479.3799,2294.760010,2327.399902,1882.619995,...,482.869995,0.82,0.53,1.25,0.94,0.59,1.09,0.31,0.16,0.72
4,2013-07-08,1634.20,1640.46,15137.2197,15224.6904,3493.8101,3484.8301,2335.919922,2328.719971,1909.739990,...,489.160004,0.38,0.72,0.74,0.58,0.50,0.44,-0.26,0.56,1.03

In [19]:
# Calculate Returns On Sector
# 1. Calculate Returns for Banking Sector

Bank_same_day =[]
Bank_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Bank_Open"][row])
   same_day_close= float(main_df["Bank_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Bank_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Bank_Close"][row])
       next_day_close = float(main_df["Bank_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Bank_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Bank_one_day.append(one_day_change)


# 2. Calculate Returns for Biotechnology Sector 

Biotech_same_day =[]
Biotech_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Biotech_Open"][row])
   same_day_close= float(main_df["Biotech_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Biotech_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Biotech_Close"][row])
       next_day_close = float(main_df["Biotech_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Biotech_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Biotech_one_day.append(one_day_change)


# 3. Calculate Returns for Healthcare Sector

Healthcare_same_day =[]
Healthcare_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Healthcare_Open"][row])
   same_day_close= float(main_df["Healthcare_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Healthcare_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Healthcare_Close"][row])
       next_day_close = float(main_df["Healthcare_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Healthcare_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Healthcare_one_day.append(one_day_change)


# 4. Calculate Returns for Housing Sector

Housing_same_day =[]
Housing_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Housing_Open"][row])
   same_day_close= float(main_df["Housing_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Housing_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Housing_Close"][row])
       next_day_close = float(main_df["Housing_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Housing_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Housing_one_day.append(one_day_change)



# 5. Calculate Returns for Industrials Sector

Industrial_same_day =[]
Industrial_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Industrial_Open"][row])
   same_day_close= float(main_df["Industrial_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Industrial_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Industrial_Close"][row])
       next_day_close = float(main_df["Industrial_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Industrial_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Industrial_one_day.append(one_day_change)

# 6. Calculate Returns for Insurance Sector

Insurance_same_day =[]
Insurance_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Insurance_Open"][row])
   same_day_close= float(main_df["Insurance_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Insurance_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Insurance_Close"][row])
       next_day_close = float(main_df["Insurance_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Insurance_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Insurance_one_day.append(one_day_change)


# 7. Calculate Returns for Oil & Gas Sector

Oil_same_day =[]
Oil_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Oil-Gas_Open"][row])
   same_day_close= float(main_df["Oil-Gas_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Oil_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Oil-Gas_Close"][row])
       next_day_close = float(main_df["Oil-Gas_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Oil_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Oil_one_day.append(one_day_change)


# 8. Calculate Returns for Semiconductor Sector

Semiconductor_same_day =[]
Semiconductor_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Semiconductor_Open"][row])
   same_day_close= float(main_df["Semiconductor_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Semiconductor_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Semiconductor_Close"][row])
       next_day_close = float(main_df["Semiconductor_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Semiconductor_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Semiconductor_one_day.append(one_day_change)

# 9. Calculate Returns for Telecom Sector

Telecom_same_day =[]
Telecom_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Telecom_Open"][row])
   same_day_close= float(main_df["Telecom_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Telecom_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Telecom_Close"][row])
       next_day_close = float(main_df["Telecom_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Telecom_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Telecom_one_day.append(one_day_change)

#10. Calculate Returns for Utility Sector

Utility_same_day =[]
Utility_one_day = []

for row in range(len(main_df)):
   same_day_open= float(main_df["Utility_Open"][row])
   same_day_close= float(main_df["Utility_Close"][row])
   same_day_change = round(((same_day_close - same_day_open)/same_day_open ) * 100 ,2)
   Utility_same_day.append(same_day_change)
   
   if row + 1 < len(main_df):
       prev_day_close= float(main_df["Utility_Close"][row])
       next_day_close = float(main_df["Utility_Close"][(row + 1)])
       one_day_change = round(((next_day_close - prev_day_close)/prev_day_close ) * 100 ,2)
       Utility_one_day.append(one_day_change)
       
   else:
       one_day_change = 0
       Utility_one_day.append(one_day_change)

In [20]:
# Writting sector performance data to main data frame

# 1. Banking
main_df["Banking Same-Day Change"] = Bank_same_day
main_df["Banking 1-Day Change"] = Bank_one_day

# 2. Biotechnology Sector 
main_df["Biotech Same-Day Change"] = Biotech_same_day
main_df["Biotech 1-Day Change"] = Biotech_one_day

# 3. Healthcare Sector
main_df["Healthcare Same-Day Change"] = Healthcare_same_day
main_df["Healthcare 1-Day Change"] = Healthcare_one_day

# 4. Housing Sector
main_df["Housing Same-Day Change"] = Housing_same_day
main_df["Housing 1-Day Change"] = Housing_one_day

# 5. Industrials Sector
main_df["Industrial Same-Day Change"] = Industrial_same_day
main_df["Industrial 1-Day Change"] = Industrial_one_day

# 6. Insurance Sector
main_df["Insurance Same-Day Change"] = Insurance_same_day
main_df["Insurance 1-Day Change"] = Insurance_one_day

# 7. Oil & Gas Sector
main_df["Oil Same-Day Change"] = Oil_same_day
main_df["Oil 1-Day Change"] = Oil_one_day

# 8. Semiconductor Sector
main_df["Semiconductor Same-Day Change"] = Semiconductor_same_day
main_df["Semiconductor 1-Day Change"] = Semiconductor_one_day

# 9. Telecom Sector
main_df["Telecom Same-Day Change"] = Telecom_same_day
main_df["Telecom 1-Day Change"] = Telecom_one_day

#10. Utility Sector
main_df["Utility Same-Day Change"] = Utility_same_day
main_df["Utility 1-Day Change"] = Utility_one_day


# Write to CSV -- to insure code runs if there is no internet connectivity and API can't be called
outfile = os.path.join("Resource_CSVs","Index_Sector_Performance_data.csv")
main_df.to_csv(outfile, encoding = "utf-8", index=False, header = True)

main_df.head()

,Date,S&P500 Open,S&P500 Close,DJ Open,DJ Close,NAS Open,NAS Close,Bank_Open,Bank_Close,Biotech_Open,...,Insurance Same-Day Change,Insurance 1-Day Change,Oil Same-Day Change,Oil 1-Day Change,Semiconductor Same-Day Change,Semiconductor 1-Day Change,Telecom Same-Day Change,Telecom 1-Day Change,Utility Same-Day Change,Utility 1-Day Change
0,2013-07-01,1609.78,1614.96,14911.5996,14974.9600,3430.4800,3434.4900,2221.090088,2249.080078,1860.430054,...,1.38,-0.52,0.93,0.43,-0.49,0.10,-0.11,-0.33,-1.61,-0.01
1,2013-07-02,1614.29,1614.08,14974.9600,14932.4102,3430.6899,3433.3999,2248.560059,2265.409912,1862.780029,...,-0.43,0.05,0.51,-0.26,0.28,0.35,-0.05,0.73,0.11,-0.10
2,2013-07-03,1611.48,1615.41,14923.7305,14988.3701,3420.2700,3443.6699,2256.489990,2272.570068,1854.880005,...,0.41,1.54,-0.09,1.81,0.87,1.35,1.02,0.33,0.22,-0.51
3,2013-07-05,1618.65,1631.89,14995.4600,15135.8398,3468.4800,3479.3799,2294.760010,2327.399902,1882.619995,...,0.45,0.75,1.44,0.91,0.81,-2.02,-0.00,0.12,-0.62,1.30
4,2013-07-08,1634.20,1640.46,15137.2197,15224.6904,3493.8101,3484.8301,2335.919922,2328.719971,1909.739990,...,0.42,0.72,0.50,1.03,-2.30,1.05,-0.30,1.12,0.99,0.63

In [21]:
# Merging Twitter data frame and Stock market data frame
merge_table = pd.merge(extreme_dates1, main_df, on= "Date", how = "left")
merge_table

,index,Date,Likes,Retweets,Compound,Negative,Neutral,Positive,S&P500 Open,S&P500 Close,...,Insurance Same-Day Change,Insurance 1-Day Change,Oil Same-Day Change,Oil 1-Day Change,Semiconductor Same-Day Change,Semiconductor 1-Day Change,Telecom Same-Day Change,Telecom 1-Day Change,Utility Same-Day Change,Utility 1-Day Change
0,1,2017-05-30,158971,40270,-0.455050,0.237000,0.676500,0.086500,2411.6699,2412.9099,...,-0.04,1.00,-1.54,-0.26,0.56,-0.00,0.08,-0.11,0.43,0.49
1,3,2017-06-03,169545,50192,0.338200,0.139000,0.656000,0.205000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,2017-06-05,215976,49100,0.070000,0.138000,0.689667,0.172000,2437.8301,2436.1001,...,-0.72,-1.23,1.11,0.85,0.34,0.35,-0.45,-0.52,-0.35,-0.15
3,5,2017-06-06,183956,42010,-0.646000,0.276000,0.689500,0.034500,2431.9199,2429.3301,...,-0.89,-0.12,1.37,-4.52,0.68,0.74,-0.24,-0.29,-0.33,0.33
4,8,2017-06-11,284100,69724,-0.031267,0.111333,0.782667,0.106333,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9,2017-06-12,84572,18009,-0.151100,0.157000,0.705000,0.138000,2425.8799,2429.3899,...,0.31,0.37,-0.82,1.86,0.88,0.64,-0.00,0.79,-0.32,0.15
6,11,2017-06-15,145563,51008,-0.421500,0.130000,0.813000,0.057000,2424.1399,2432.4600,...,0.79,0.51,-0.94,2.11,0.87,-0.33,0.73,0.13,0.64,0.42
7,14,2017-06-18,181250,37067,0.490700,0.136000,0.637500,0.226500,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,15,2017-06-19,172095,44005,-0.229300,0.189667,0.685333,0.125333,2442.5500,2453.4600,...,-0.49,-0.56,-0.68,-2.31,0.74,-1.20,0.58,-0.62,-0.45,0.09
9,16,2017-06-20,300011,74739,-0.027900,0.157000,0.700750,0.142000,2450.6599,2437.0300,...,-0.46,-0.66,-0.53,-3.41,-1.33,1.17,-0.53,-0.28,0.04,-0.66
10,20,2017-06-28,51334,12429,-0.400300,0.147000,0.779000,0.074000,2428.7000,2440.6899,...,1.17,-0.11,0.57,1.14,0.94,-2.51,0.76,-1.86,-1.30,-0.85
11,23,2017-07-02,128784,29866,-0.789100,0.275000,0.725000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,24,2017-07-03,215152,48229,0.587550,0.160000,0.625000,0.215000,2431.3899,2429.0100,...,0.67,-0.87,2.69,-3.12,-1.96,2.08,-0.21,-0.39,-0.83,-0.39
13,26,2017-07-05,218774,48065,-0.275550,0.102000,0.853000,0.045000,2430.7800,2432.5400,...,-0.87,-0.72,-2.66,-2.37,1.35,-0.45,0.30,-1.08,-0.48,-0.05
14,28,2017-07-09,155885,34493,0.227800,0.110000,0.731000,0.159000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,29,2017-07-11,0,10349,-0.226300,0.155000,0.687000,0.159000,2427.3501,2425.5300,...,-0.40,0.34,0.97,-0.10,0.80,1.62,0.22,0.29,-0.19,0.61
16,38,2017-07-25,253228,60240,-0.051060,0.110400,0.793400,0.096200,2477.8799,2477.1299,...,0.25,-0.71,0.33,-0.53,0.24,1.16,0.34,-0.78,-0.53,0.94
17,40,2017-07-29,352568,86466,-0.289775,0.152500,0.794750,0.052750,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,41,2017-07-31,120687,28813,-0.623900,0.341000,0.467000,0.192000,2475.9399,2470.3000,...,-0.06,0.49,-0.25,-0.83,-1.07,0.55,-0.62,0.86,0.31,0.38
19,55,2017-08-16,180372,54505,-0.169900,0.195333,0.640333,0.164667,2468.6299,2468.1101,...,-0.14,-1.23,-1.73,-1.06,-0.16,-2.58,0.67,-2.81,0.41,-0.75
20,59,2017-08-30,79936,13359,-0.756700,0.302000,0.698000,0.000000,2446.0601,2457.5901,...,0.36,0.43,-0.75,0.64,1.41,0.96,1.20,0.62,-0.23,-0.00
21,62,2017-09-03,342065,92851,0.155467,0.141333,0.689000,0.169667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,66,2017-09-08,76058,19442,-0.338200,0.102000,0.898000,0.000000,2462.2500,2461.4299,...,3.07,1.11,-1.49,1.39,-1.16,2.01,-0.61,1.55,0.53,0.99
23,67,2017-09-13,167871,35860,-0.165600,0.156500,0.781500,0.061500,2493.8899,2498.3701,...,0.71,-0.51,2.05,0.71,0.43,0.48,0.04,-0.53,-0.45,0.91
24,69,2017-09-15,208262,49075,-0.628800,0.236000,0.662000,0.102500,2495.6699,2500.2300,...,0.51,0.11,0.28,0.76,1.44,1.24,0.36,0.41,0.03,-1.03
25,72,2017-09-20,122304,35115,-0.015300,0.144667,0.740333,0.115000,2506.8401,2508.2400,...,0.42,-0.18,1.31,-1.36,-1.41,-0.41,-0.32,0.00,-0.98,-0.04
26,73,2017-09-22,124920,39133,-0.216800,0.144000,0.688000,0.168000,2497.2600,2502.2200,...,1.01,0.24,1.44,2.72,0.89,-1.97,1.21,0.01,-0.85,0.87
27,75,2017-09-25,80974,13322,-0.580700,0.203000,0.731000,0.066000,2499.3899,2496.6599,...,0.51,0.44,2.13,0.47,-1.53,-0.05,0.29,0.14,0.84,-0.17
28,76,2017-09-26,38892,7816,0.025800,0.101000,0.758000,0.141000,2501.0400,2496.8401,...,0.41,1.07,1.01,0.80,-0.86,2.36,-0.12,-0.14,-0.06,-1.22
29,78,2017-09-28,149019,33491,0.687500,0.145000,0.581000,0.274000,2503.4099,2510.0601,...,0.44,-0.43,-0.60,0.43,1.00,0.87,0.17,0.67,0.75,-0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,196,2018-03-22,66707,15324,-0.440400,0.228000,0.664000,0.108000,2691.3601,2643.6899,...,-1.63,-2.35,-1.81,-0.16,-1.23,-3.29,-1.26,-1.59,0.45,-1.43
66,197,2018-03-23,152564,32614,-0.255650,0.262500,0.616500,0.121000,2646.7100,2588.2600,...,-2.61,1.94,-0.74,0.91,-3.07,4.24,-2.62,2.87,-1.63,1.05
67,202,2018-03-29,379147,92854,-0.109125,0.132250,0.782750,0.085250,2614.4099,2640.8701,...,0.27,-1.88,2.12,-2.62,1.26,-3.90,1.43,-3.34,0.21,-0.78
68,203,2018-04-02,177955,45598,-0.284600,0.135500,0.806000,0.058000,2633.4500,2581.8799,...,-1.61,0.97,-1.88,2.24,-3.02,1.96,-2.51,0.69,-1.08,0.39
69,204,2018-04-04,141794,36251,-0.053600,0.229000,0.579000,0.192000,2584.0400,2644.6899,...,1.63,0.20,0.97,3.41,4.18,-1.04,2.24,1.02,0.41,0.81
70,207,2018-04-07,222947,45324,0.296200,0.109500,0.698000,0.192000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,208,2018-04-08,106266,23394,-0.177900,0.181000,0.664000,0.155000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,209,2018-04-09,174321,56480,-0.225250,0.230500,0.672500,0.097000,2617.1799,2613.1599,...,-0.53,1.06,-0.84,5.41,-0.21,3.20,-0.15,3.14,0.10,-0.72
73,211,2018-04-11,170557,64602,-0.542300,0.218000,0.691000,0.091000,2643.8899,2642.1899,...,0.45,0.64,3.17,0.98,0.67,1.87,0.37,1.43,0.02,-1.29
74,212,2018-04-13,217265,47454,0.052750,0.113000,0.759000,0.128000,2676.8999,2656.3000,...,-0.76,1.27,0.62,-0.46,-1.89,0.23,-1.23,0.40,0.36,1.39
75,217,2018-04-20,293140,74463,-0.070400,0.148500,0.755500,0.096000,2692.5601,2670.1399,...,-0.10,0.36,-0.39,0.31,-1.12,-1.33,-0.71,-0.20,-0.97,0.07
76,218,2018-04-21,140958,31481,-0.296000,0.115000,0.885000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,219,2018-04-22,94032,24006,-0.510600,0.125000,0.875000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,220,2018-04-24,59395,14634,-0.838800,0.359000,0.641000,0.000000,2680.8000,2634.5601,...,-0.66,-0.18,-0.84,1.45,-1.82,-0.12,-1.12,0.06,0.40,-0.01
79,221,2018-04-27,230536,49471,0.155350,0.132500,0.644000,0.223500,2675.4700,2669.9099,...,-0.11,-1.29,-0.15,-0.47,-2.04,-1.09,-0.24,-1.49,1.19,-0.28
80,223,2018-04-30,91451,19513,-0.648600,0.238000,0.690000,0.073000,2682.5100,2648.0500,...,-1.40,0.09,-0.01,-1.30,-1.24,1.73,-1.32,-0.04,-0.47,-0.31
81,224,2018-05-01,82962,18135,-0.177900,0.114000,0.802000,0.084000,2642.9600,2654.8000,...,0.25,-1.86,-0.41,0.80,1.87,-0.52,0.80,-1.43,-0.25,-0.11
82,226,2018-05-04,246964,53012,-0.227500,0.350500,0.520500,0.129000,2621.4500,2663.4199,...,1.62,0.54,1.65,0.53,3.16,0.91,2.10,0.69,0.35,-0.53
83,230,2018-05-11,92251,22250,-0.296000,0.109000,0.891000,0.000000,2722.7000,2727.7200,...,0.01,-0.74,-1.03,0.88,-0.24,1.26,-0.59,-0.33,0.14,-0.45
84,236,2018-05-18,102413,24939,-0.102700,0.224000,0.610000,0.167000,2717.3501,2712.9700,...,-0.16,1.13,-0.27,-1.15,-0.33,1.62,-0.16,0.82,-0.22,1.06
85,239,2018-05-24,119306,29616,-0.059300,0.250500,0.615500,0.134000,2730.9399,2727.7600,...,-0.13,-0.34,-0.07,-4.28,0.37,0.88,-0.27,-0.42,0.79,0.47
86,240,2018-05-25,183600,46370,-0.199050,0.163500,0.721500,0.115000,2723.6001,2721.3301,...,-0.13,-2.43,-2.77,-0.24,0.86,-0.71,-0.43,-0.56,0.33,0.05
87,242,2018-05-28,196285,51392,0.080250,0.156500,0.651500,0.192000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,243,2018-05-29,121240,28901,-0.401900,0.193000,0.723000,0.084000,2705.1101,2689.8601,...,-1.59,1.74,1.17,2.60,-0.16,0.65,0.25,0.01,0.32,0.73
89,244,2018-05-30,159018,41870,0.051600,0.272000,0.500000,0.228000,2702.4299,2724.0100,...,1.22,-0.91,1.85,-2.87,0.11,-0.78,-0.33,-0.51,1.00,0.14
90,247,2018-06-04,383413,84485,-0.094700,0.144200,0.759000,0.096800,2741.6699,2746.8701,...,0.30,0.21,-1.12,0.66,0.69,0.41,0.06,0.29,-1.08,-0.69
91,248,2018-06-05,60040,14352,-0.359500,0.135000,0.783000,0.082000,2748.4600,2748.8000,...,0.38,0.92,1.22,0.75,0.07,0.66,0.15,0.69,-0.70,-2.04
92,250,2018-06-08,469729,116425,-0.383480,0.140200,0.836800,0.023000,2765.8401,2779.0300,...,1.12,-0.11,-1.56,-0.52,0.36,-0.23,-0.09,0.48,-0.17,-1.05
93,254,2018-06-13,536446,113102,-0.073220,0.137600,0.758200,0.104200,2787.9399,2775.6299,...,-0.17,-0.50,-0.01,-0.08,-0.16,0.61,-0.19,1.30,-0.26,1.27
94,266,2018-06-30,0,19358,0.250000,0.143000,0.714000,0.143000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# for index, o1 in enumerate(pd.to_numeric(merge_table["S&P500 Open"])):
#     if math.isnan(o1):
#         date_NA = merge_table["Date"][index]
#         #print (date_NA)
#         date_NA = dt.strptime(date_NA, '%Y-%m-%d').date()
#         print (date_NA)

#         date_NA =date_NA  + timedelta(days=1)
#         print (date_NA)

#         date_NA_df = sp_df.loc[sp_df["Date"]== str(date_NA)]
        
#         s1 = float(date_NA_df["S&P500 Open"])
#         s2 = float(date_NA_df["S&P500 Close"])
#         s3 = float(date_NA_df["S&P500 Same-Day Change"])
#         s4 = float(date_NA_df["S&P500 1-Day Change"])
#         s5 = float(date_NA_df["S&P500 2-Day Change"])
#         merge_table["S&P500 Open"][index] = s1
#         merge_table["S&P500 Close"][index] = s2
#         merge_table["S&P500 Same-Day Change"][index] = s3
#         merge_table["S&P500 1-Day Change"][index] = s4
#         merge_table["S&P500 2-Day Change"][index] = s5

In [23]:
# count = merge_table['S&P500 Open'].value_counts()
# len(count)
merge_table1=merge_table.dropna(axis=0)
merge_table1.head(20)

,index,Date,Likes,Retweets,Compound,Negative,Neutral,Positive,S&P500 Open,S&P500 Close,...,Insurance Same-Day Change,Insurance 1-Day Change,Oil Same-Day Change,Oil 1-Day Change,Semiconductor Same-Day Change,Semiconductor 1-Day Change,Telecom Same-Day Change,Telecom 1-Day Change,Utility Same-Day Change,Utility 1-Day Change
0,1,2017-05-30,158971,40270,-0.45505,0.237000,0.676500,0.086500,2411.6699,2412.9099,...,-0.04,1.00,-1.54,-0.26,0.56,-0.00,0.08,-0.11,0.43,0.49
2,4,2017-06-05,215976,49100,0.07000,0.138000,0.689667,0.172000,2437.8301,2436.1001,...,-0.72,-1.23,1.11,0.85,0.34,0.35,-0.45,-0.52,-0.35,-0.15
3,5,2017-06-06,183956,42010,-0.64600,0.276000,0.689500,0.034500,2431.9199,2429.3301,...,-0.89,-0.12,1.37,-4.52,0.68,0.74,-0.24,-0.29,-0.33,0.33
5,9,2017-06-12,84572,18009,-0.15110,0.157000,0.705000,0.138000,2425.8799,2429.3899,...,0.31,0.37,-0.82,1.86,0.88,0.64,-0.00,0.79,-0.32,0.15
6,11,2017-06-15,145563,51008,-0.42150,0.130000,0.813000,0.057000,2424.1399,2432.4600,...,0.79,0.51,-0.94,2.11,0.87,-0.33,0.73,0.13,0.64,0.42
8,15,2017-06-19,172095,44005,-0.22930,0.189667,0.685333,0.125333,2442.5500,2453.4600,...,-0.49,-0.56,-0.68,-2.31,0.74,-1.20,0.58,-0.62,-0.45,0.09
9,16,2017-06-20,300011,74739,-0.02790,0.157000,0.700750,0.142000,2450.6599,2437.0300,...,-0.46,-0.66,-0.53,-3.41,-1.33,1.17,-0.53,-0.28,0.04,-0.66
10,20,2017-06-28,51334,12429,-0.40030,0.147000,0.779000,0.074000,2428.7000,2440.6899,...,1.17,-0.11,0.57,1.14,0.94,-2.51,0.76,-1.86,-1.30,-0.85
12,24,2017-07-03,215152,48229,0.58755,0.160000,0.625000,0.215000,2431.3899,2429.0100,...,0.67,-0.87,2.69,-3.12,-1.96,2.08,-0.21,-0.39,-0.83,-0.39
13,26,2017-07-05,218774,48065,-0.27555,0.102000,0.853000,0.045000,2430.7800,2432.5400,...,-0.87,-0.72,-2.66,-2.37,1.35,-0.45,0.30,-1.08,-0.48,-0.05
15,29,2017-07-11,0,10349,-0.22630,0.155000,0.687000,0.159000,2427.3501,2425.5300,...,-0.40,0.34,0.97,-0.10,0.80,1.62,0.22,0.29,-0.19,0.61
16,38,2017-07-25,253228,60240,-0.05106,0.110400,0.793400,0.096200,2477.8799,2477.1299,...,0.25,-0.71,0.33,-0.53,0.24,1.16,0.34,-0.78,-0.53,0.94
18,41,2017-07-31,120687,28813,-0.62390,0.341000,0.467000,0.192000,2475.9399,2470.3000,...,-0.06,0.49,-0.25,-0.83,-1.07,0.55,-0.62,0.86,0.31,0.38
19,55,2017-08-16,180372,54505,-0.16990,0.195333,0.640333,0.164667,2468.6299,2468.1101,...,-0.14,-1.23,-1.73,-1.06,-0.16,-2.58,0.67,-2.81,0.41,-0.75
20,59,2017-08-30,79936,13359,-0.75670,0.302000,0.698000,0.000000,2446.0601,2457.5901,...,0.36,0.43,-0.75,0.64,1.41,0.96,1.20,0.62,-0.23,-0.00
22,66,2017-09-08,76058,19442,-0.33820,0.102000,0.898000,0.000000,2462.2500,2461.4299,...,3.07,1.11,-1.49,1.39,-1.16,2.01,-0.61,1.55,0.53,0.99
23,67,2017-09-13,167871,35860,-0.16560,0.156500,0.781500,0.061500,2493.8899,2498.3701,...,0.71,-0.51,2.05,0.71,0.43,0.48,0.04,-0.53,-0.45,0.91
24,69,2017-09-15,208262,49075,-0.62880,0.236000,0.662000,0.102500,2495.6699,2500.2300,...,0.51,0.11,0.28,0.76,1.44,1.24,0.36,0.41,0.03,-1.03
25,72,2017-09-20,122304,35115,-0.01530,0.144667,0.740333,0.115000,2506.8401,2508.2400,...,0.42,-0.18,1.31,-1.36,-1.41,-0.41,-0.32,0.00,-0.98,-0.04
26,73,2017-09-22,124920,39133,-0.21680,0.144000,0.688000,0.168000,2497.2600,2502.2200,...,1.01,0.24,1.44,2.72,0.89,-1.97,1.21,0.01,-0.85,0.87

In [24]:
# Write to CSV
outfile = os.path.join("Resource_CSVs","Main_data_negative.csv")
merge_table1.to_csv(outfile, encoding = "utf-8", index=False, header = True)